<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/style.css">
    <title>{Dev Notes}</title>
</head>
<body>
<div class="main-div">
    <h1>{Dev Notes}</h1>

    <div class="hr"></div>

    <script>
        function confirmDelete(postId) {
            if (confirm("Are you sure you want to delete this post?")) {
                fetch(`/delete/${postId}`, {
                    method: "DELETE",
                })
                .then(response => response.json())
                .then(data => {
                    console.log(data);
                    window.location.reload();
                })
                .catch(error => {
                    console.error("Error: ", error);
                    alert("Failed to delete post");
                });
            }
        }
    </script>

    <% if (blogPosts.length > 0) { %>
        <% blogPosts.forEach(post => { %>
            <h2><%= post.title %></h2>
            <p class="date"><%= post.date %></p>
            <%= post.content %>
            
            <button class="edit-btn" onclick="document.getElementById('edit-form-<%= post.id %>').style.display='block'">Edit</button>
            
            <!-- <form action="/delete/<%# post.id %>?_method=DELETE" method="POST">
                <button type="submit">Delete</button>
            </form> -->
            <button class="delete-btn" onclick="confirmDelete('<%= post.id %>')">Delete</button>

            <form id="edit-form-<%= post.id %>" action="/edit/<%= post.id %>?_method=PUT" method="POST" style="display: none;">
                <label>New Title: </label>
                <input type="text" name="text" value="<%= post.title %>" required>

                <label>New Content: </label>
                <br>
                <textarea name="textarea" rows="8" required></textarea>
                
                <button class="button" type="submit">Update</button>
                <button type="button" onclick="document.getElementById('edit-form-<%= post.id %>').style.display='none'">Cancel</button>
            </form>
            
            <div class="hr"></div>
        <% }) %>
    <% } else { %>
        <p>No blog posts yet. Submit your first post above!</p>
        <br><br><br>
    <% } %>
                
    <form id="form-el" action="/submit" method="POST">
        <label for="text">Enter title</label>
        <input type="text" id="text" name="text" placeholder="Hello World" required>
        
        <label for="textarea">Enter content</label>
        <textarea class="textarea" type="textarea" name="textarea" id="textarea" rows="8" placeholder="Once upon a byte..." required></textarea>
        
        <button class="button" type="submit">Submit</button>
    </form>
</div>           
</body>
</html>
            